//fonts
$siteFont: 'Roboto', sans-serif;
$siteFont_alt: 'Roboto Slab', serif;


//Media Queries
$small:  "screen and (min-width : 600px)";
$medium: "screen and (min-width : 1024px)";
$large: "screen and (min-width : 1440px)";

//Misc
$border-radius: 3px;
$transition-in: .3s ease-in;
$transition-out: .3s ease-out;