.u-text-align-center {
	text-align: center;
}

.u-text-align-left {
	text-align: left;
}

.u-align-self--center {
	align-self: center;
}

.u-small-text {
}

.u-circle {
	border-radius: 50%;
	display: inline-block;
}